*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    height: 100px;
    background-color: blueviolet;
}

body{
    margin: 20px auto;
    margin-left: 15%;
    margin-right: 15%;
}

main{
    margin: 20px 0;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.riquadro-giallo{
    width: 100%;
    height: 350px;
    background-color: goldenrod;
}

.riquadro{
    background-color: lightblue;
    width: 100%;
    height: 500px;
    margin-top: 20px;
}

.prima{
    background-color: blue;
    width: 100%;
    height: 20px;
    margin-top: 80px;
    float: left;
}

.seconda{
    background-color: blue;
    width: 20%;
    height: 20px;
    margin-left: 20px;
    float: right;
}



