header{
    width: 100%;
    height: 100px;
    background-color: blueviolet;
}

body{
    margin-top: 20px auto;
    margin-left: 15%;
    margin-right: 15%;
}

.container{
    background-color: lightblue;
}

main{
    margin: 20px auto;
    border: 2px solid black;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.riquadro-giallo{
    width: 100%;
    height: 350px;
    background-color: goldenrod;
}



