*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    height: 100px;
    background-color: #E586E2;
}

body{
    margin: 20px auto;
    margin-left: 15%;
    margin-right: 15%;
}

main{
    margin: 20px 0;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.riquadro-giallo{
    width: 100%;
    height: 350px;
    background-color: #E1D679;
}

.riquadro{
    background-color: #0086FE;
    width: 100%;
    height: 500px;
    margin-top: 20px;
}

.prima{
    background-color: #ABCFE6;
    width: 100%;
    height: 125px;
    margin-bottom: 15px;
    float: left;
}

.seconda{
    background-color: #ABCFE6;
    width: 20%;
    height: 348px;
    margin-right: 10px;
    float: left;
}

.terzo{
    background-color: #ABCFE6;
    width: 55%;
    height: 348px;
    margin-left: 10px;
    margin-right: 10px;
    float: left;
}

.quarto{
    background-color: #ABCFE6;
    width: 20%;
    margin-left: 10px;
    height: 348px;
    float: right;
}

footer{
    width: 100%;
    height: 100px;
    background-color: blueviolet;
}